<div class="container-fluid">
    <div class="col-12 d-flex justify-content-center">
        <div class="col-4 todo-block">
            <h1 class="text-center md-3 todo-header">Todo List</h1>
            <hr>
            <div class="col-12 d-flex align-items-center justify-content-between">
                <input class="col-8 todo-input" placeholder="Enter text ..." type="text">
                <button type="submit" class="col-3 btn btn-primary">Add</button>
            </div>
            <!-- Todo OnGoing -->
            <div class="todo-list mt-3">
                <h5>Todo List</h5>
                <div class="col-12 d-flex todo-single align-center">
                    <input type="checkbox" class="col-1 todo-checkbox">
                    <p class="col-9">Todo Item</p>
                    <button type="button" class="btn btn-outline-light text-danger col-1 del-btn">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
            <!-- Todo Finish -->
            <div class="todo-list mt-3">
                <h5>Finish List</h5>
                <div class="col-12 d-flex todo-single align-center">
                    <input type="checkbox" class="col-1 todo-checkbox">
                    <p class="col-9">Todo Item</p>
                    <button type="button" class="btn btn-outline-light text-danger col-1 del-btn">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>